body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #5c9f24;
}

a:hover {
  color: #74c92d;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
